
 @import "../../../asset/style/global.css";
 @import "../../../asset/style/common.scss";

.user {
  .user-avatar-warp {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .upload-img {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5);
      .ant-upload {
        color: #fff;
      }
    }
    &:hover .upload-img {
      display: block;
    }
  }
  .name-title {
    font-size: 20px;
  }
}